.purchase-card{
    padding: 20px 0 ;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D9D9D999;
    /* justify-content: space-between; */
    font-size: 24px;
    font-weight: 600;
    background-color: white;
}

.purchase-card p:nth-child(3){
    /* background-color: blue; */
    margin-left: 3%;
    flex-basis: 15%;
}
.purchase-card p:nth-child(4){
    /* background-color: blue; */
    margin-left: 8%;
    flex-basis: 5%;
    /* font-size:100px; */
}

.product-name-container{
    flex-basis: 33%;
    margin-left: 2%;
    /* background-color: violet; */
}

.preview-container{
    display: flex;
    justify-content: center;
    margin: 0 2%;
    flex-basis: 15%;
}

.preview-container img{
    width: 80%;
}

.trash-icon{
    /* background-color: blue; */
    flex-basis: 5%;
    margin-left: 5%;
}