.checkout-container {
	width: 60%;
	/* height: 80%; */
	min-height: 783px;
	/* padding-bottom: 100px 0; */
	/* margin: 0 auto; */
	margin: 75px auto;
	background-color: white;
}

.headers {
	display: flex;
	padding: 12px 0;
	/* background-color: pink; */
	justify-content: space-around;
	font-size: 20px;
	font-weight: 600;
	color: #979797;
	border-bottom: 2px solid #d9d9d999;
}

.headers p:first-child {
	margin-left: 6%;
	flex-basis: 45%;
	/* background-color: coral; */
}

.headers p:nth-child(2) {
	/* margin-left: 7%; */
	flex-basis: 10%;
	/* background-color: yellow; */
}

.headers p:nth-child(3) {
	flex-basis: 5%;
	margin-left: 2%;
	/* background-color: tomato; */
}

.headers p:nth-child(4) {
	margin: 0 2%;
	flex-basis: 5%;
	background-color: yellow;
}

.total-container {
	display: flex;
	justify-content: right;
	font-weight: 600;
	font-size: 24px;
	gap: 3%;
	margin: 2% 7% 7% 0;
}

.checkout-button-container {
	display: flex;
	justify-content: right;
	padding-bottom: 2%;
}

.checkout-container button {
	width: 156px;
	height: 41px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	background-color: #ffd814;
	border: none;
	/* float: right; */
	/* display: flex; */
	margin-right: 2em;
}

.popup {
	width: 45vw;
	height: 540px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.popup h2 {
	margin-bottom: 80px;
}

.modal-close-btn {
	width: 156px;
	height: 41px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	background-color: #5264c3;
	border: none;
	/* background: none; */
	color: white;
	cursor: pointer;
	transition: color 2s ease-in-out;
}

.modal-close-btn:hover {
	color: red;
}

.modal-content {
	border: 2px solid;
	resize: both;
	overflow: auto;
}

@media only screen and (max-width: 950px) {
	.checkout-container {
		width: 95%;
	}
}

@media only screen and (max-width: 560px) {
	.headers {
		visibility: collapse;
	}
	.purchase-container {
		border-top: 2px solid #d9d9d999;
	}
}
