.checkout-container {
	width: 60%;
	/* height: 80%; */
	min-height: 783px;
	margin: 100px auto;
	background-color: white;
}

.headers {
	display: flex;
	/* background-color: pink; */
	font-size: 20px;
	font-weight: 600;
	color: #979797;
	border-bottom: 2px solid #d9d9d999;
}

.headers p:first-child {
	margin-left: 8%;
	flex-basis: 54%;
	/* background-color: coral; */
}

.headers p:nth-child(2) {
	margin-left: 4%;
	flex-basis: 11%;
	/* background-color: yellow; */
}

.headers p:nth-child(3) {
	/* flex-basis: 5%; */
	margin-right: 2%;
	/* background-color: tomato; */
}

.headers p:nth-child(4) {
	flex-basis: 5%;
	/* background-color: yellow; */
}

.total-container {
	display: flex;
	justify-content: right;
	font-weight: 600;
	font-size: 24px;
	gap: 3%;
	margin: 2% 7% 7% 0;
}

.checkout-container button {
	width: 156px;
	height: 41px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	background-color: #ffd814;
	border: none;
	float: right;
	margin-right: 2em;
}

.popup{
    width: 600px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.popup h2{
    margin-bottom: 80px;

}

.modal-close-btn {
    width: 156px;
	height: 41px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	background-color: #5264C3;
	border: none;
	/* background: none; */
    color:white;
	cursor: pointer;
	transition: color 2s ease-in-out;
}

.modal-close-btn:hover {
	/* color: var(--primary-bg); */
    /* background-color: red; */
	color: red;
}
