.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
}

.header-container a {
	color: #3a4895;
}

.cart-icon {
	font-size: 3em;
}

.cart-container {
	/* display:flex; */
	position: relative;
}

.cart-items {
	/* display: flex; */
	position: absolute;
	top: 0%;
	left: 35%;
	bottom: 0px;
	width: 48%;
	height: 45%;
	border-radius: 50%;
	background-color: #f90505;
}

.cart-items p {
	font-weight: 700;
	position: absolute;
	top: 5%;
	left: 28%;
	color: white;
}
