.footer-container {
	background-color: #3a4895;
	height: 66px;
	display: flex;
	justify-content: space-between;
	padding: 2% 2%;
	align-items: center;
	color: white;
}

.footer-container a {
	color: white;
}

.contact-btn {
	cursor: pointer;
	background-color: transparent;
	color: white;
	border: none;
	font-size: 16px;
}

